---
---

@import "basecoat/basecoat";
@import "contents";
@import "layout";

.expand-content {
  display: none;
}

.expand-trigger {
  a {
    cursor: pointer;
  }
}

a.user-mention {
  font-weight: 700;
  color: black;
}
