---
---

@import "basecoat/basecoat";
@import "off-canvas";
@import "contents";
@import "layout";

a.user-mention {
  font-weight: 700;
  color: $black;
}

.footnotes {
  margin-top: $spacer4;

  &:before {
    content: "Footnotes:";
    display: inline-block;
    margin-bottom: $spacer3;
    color: $heading-color;
    font-size: 18px;
    font-weight: 400;

    @include breakpoint(md) { font-size: 20px; }
    @include breakpoint(lg) { font-size: 22px; }
  }
}

.landing-intro {
  padding-top: 28%;
  @include breakpoint(xl) {
    padding-top: 20%;
  }
}

.bg-squares {
  background-color: $taupe;
  background-image: url("{{ site.baseurl }}/assets/bg.svg");
  background-repeat: no-repeat;
  background-size: 175%;
  background-position: center -20px;

  @include breakpoint(sm) {
    background-size: 102%;
    background-position: center -10px;
  }
}

.bg-squares {
  background-color: $taupe;
  background-image: url("{{ site.baseurl }}/assets/bg.svg");
  background-repeat: no-repeat;
  background-size: 175%;
  background-position: center -20px;

  @include breakpoint(sm) {
    background-size: 102%;
    background-position: center -10px;
  }
}

.bg-nav {
  @media screen and (min-width: 992px) and (min-height: 730px) {
    //background-color: darken($taupe, 5%);
    background-image: url("{{ site.baseurl }}/assets/bg-bottom-left.svg");
    background-repeat: no-repeat;
    background-size: 96%;
    background-position: -10px 91%;
  }
}

.form-input {
  border: $border;
  height: 36px;
}

#mc_embed_signup div.mce_inline_error {
  background-color: inherit !important;
  color: $maroon !important;
  font-weight: normal !important;
  font-size: 16px;
}

.card-landing .card {
  @include breakpoint(md) {
    height: 196px;
  }
  @include breakpoint(lg) {
    height: 172px;
  }
  @include breakpoint(xl) {
    height: auto;
  }
}

.anchorjs-link, .anchorjs-link:hover {
  float: left;
  margin-left: -1.4em;
  width: 1.4em;
  text-decoration: none;
  color: inherit;

  *:hover > & {
    opacity: 0.75;
  }
}
