title: "Open Source Guide"
description: "A community guide for open source creators."

exclude:
  - bin
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - docs
  - Gemfile*
  - node_modules
  - package.json
  - Rakefile
  - README.md
  - script
  - test
  - vendor

permalink: /:path/

collections:
  articles:
    output: true
    permalink: /:path/

defaults:
  - scope:
      path: ""
      type: articles
    values:
      layout: article

gems:
  - jekyll-mentions
  - jekyll-octicons
  - jekyll-seo-tag
  - jekyll-sitemap

branch: gh-pages

github:
  repository_nwo: github/open-source-guide

twitter:
  username: github

facebook:
  publisher: https://www.facebook.com/GitHub/
