---
title: Welcome
layout: landing
---

<nav class="article-nav">
  <div class="container-lg edged mx-auto clearfix">
    <div class="float-sm-right">
      <ul class="border-left border-bottom border-sm-0 list-style-none">
        <li class="d-inline-block border-right">
          <a class="d-block p-3 p-sm-4" href="">About</a>
        </li>
        <li class="d-inline-block border-right">
          <a class="d-block p-3 p-sm-4" href="">Contribute</a>
        </li>
        <li class="d-inline-block border-right">
          <a class="d-block p-3 p-sm-4" href="">{% octicon search height:16 class:"mr-2 fill-gray" aria-label:hi %}Search</a>
        </li>
      </ul>
    </div>
    <div class="float-sm-left pl-3">
      <p class="my-0 py-3 py-sm-4 text-gray">
        <a href="" class="text-gray">Open Source Guides</a>  /
      </p>
    </div>
  </div>
</nav>

<div class="bg-gray-light">

  <header class="py-6">
    <div class="container-lg mx-auto text-center landing-intro">
      <h1>Welcome to the Open Source Guide!</h1>
      <p class="mb-md-5 lead">
        If you're interested in launching and growing your own open source project, this is the guide for you.
      </p>
      <a href="https://github.com/{{ site.github.repository_nwo }}">View on GitHub {% octicon arrow-right height:26 class:"v-align-middle ml-2 fill-maroon" aria-label:hi %}</a>
    </div>
  </header>

  <div class="container-lg px-3">
    <div class="clearfix gut-md d-flex flex-wrap flex-items-stretch">
      {% for article in site.articles %}
      <div class="card col-md-4 mt-4 mt-lg-7">
          <div class="p-4">
            <h3>
              <a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a>
            </h3>
            <p class="mb-0">
            {{ article.description }}
            </p>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
</div>

<div class="container-narrow mb-0 my-4 my-md-7">
  <div class="border text-center p-3 p-md-4">
    {% octicon pencil height:22 class:"mr-3 fill-gray" aria-label:hi %}
    <span class="d-block d-md-inline">This content is open source.</span>
    <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}" class="d-block d-md-inline">
      Please help improve it.
    </a>
  </div>
  {% include footer.html %}
</div>
