---
title: Welcome
layout: landing
---

<div class="container-narrow text-center landing-intro">
  <h1>Welcome to the Open Source Guide!</h1>
  <p class="mb-md-5 lead">
    If you're interested in launching and growing your own open source project, this is the guide for you.
  </p>
  <a href="https://github.com/{{ site.github.repository_nwo }}">View on GitHub {% octicon arrow-right height:26 class:"v-align-middle ml-2 fill-maroon" aria-label:hi %}</a>
</div>

<div class="container-wide">
  <div class="clearfix gut-3 card-landing">

      {% for article in site.articles %}
    <div class="col-md-4 mt-4 mt-lg-7">
        <div class="card p-4">
          <h3>
            <a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a>
          </h3>
          <p class="mb-0">
          {{ article.description }}
          </p>
        </div>
    </div>
      {% endfor %}

  </div>
</div><!--end container-wide-->

<div class="container-narrow mb-0 my-4 my-md-7">
  <div class="border text-center p-3 p-md-4">
    {% octicon pencil height:22 class:"mr-3 fill-gray" aria-label:hi %}
    <span class="d-block d-md-inline">This content is open source.</span>
    <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}" class="d-block d-md-inline">
      Please help improve it.
    </a>
  </div>
  {% include footer.html %}
</div>
