---
title: Welcome to Open Source Guides
layout: landing
---

{% include nav.html %}

<div class="bg-gray-light">

  <header class="py-4 py-md-6">
    <div class="container-lg mx-auto text-center px-3 pt-6">
      <h1 class="alt-h1">Open Source Guides</h1>
      <p class="alt-lead text-gray mb-md-5 col-md-8 mx-auto">
        Open source software is made by people just like you. Learn how to launch and grow your project.
      </p>
    </div>
  </header>

  <div class="container-lg px-3 pb-6">
    <div class="clearfix gut-md d-flex flex-wrap flex-items-stretch pb-md-6">
      {% assign articles = site.articles | sort: 'order' %}
      {% for article in articles %}
        {% include article.html article=article %}
      {% endfor %}
    </div>
  </div>

</div>

{% include footer.html %}
