<footer class="bg-white border-top text-center pt-5">
  <div class="container-lg px-3 mx-auto">

    <div class="d-flex flex-wrap flex-items-stretch">
      <div class="col-12 col-sm-6 mb-4 col-border">
        <div class="height-full p-5">
          <img src="{{ site.baseurl }}/assets/images/illos/squirrel.svg" class="little-illo mb-3" alt="squirrel illustration">
          <h3 class="alt-h3 mb-3">Contribute</h3>
          <p class="mb-3 p-large">
            Want to make a suggestion? This content is open source. Help us improve it.
          </p>
          <p>
            <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}" class="btn btn-outline">
              Contribute
            </a>
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-4">
        <div class="height-full p-5">
          <div id="mc_embed_signup">
          <form action="//github.us11.list-manage.com/subscribe/post?u=9d7ced8c4bbd6c2f238673f0f&amp;id=b514344ba3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <img src="{{ site.baseurl }}/assets/images/illos/bird.svg" class="little-illo mb-3" alt="bird illustration">
              <h3 class="alt-h3 mb-3">Subscribe to updates</h3>

              <div class="mc-field-group col-12">
                  <label for="mce-EMAIL" class="d-none">Email Address</label>
                  <input type="email" placeholder="Email Address" name="EMAIL" class="form-input required email d-block col-10 mx-auto py-2 px-3 mb-3" id="mce-EMAIL" autocomplete="home email">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline">
              </div>
              <div id="mce-responses" class="clear">
                  <div class="" id="mce-error-response" style="display:none"></div>
                  <div class="" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d7ced8c4bbd6c2f238673f0f_b514344ba3" tabindex="-1" value=""></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>
      </div>
    </div>

    <div class="border-top text-gray py-5">
      {% octicon code height:20 class:"v-align-middle fill-gray mr-1" aria-label:code %} with {% octicon heart height:20 class:"v-align-middle fill-gray mx-1" aria-label:love %} by <a href="https://github.com">{% octicon mark-github height:20 class:"v-align-middle fill-gray mx-1" aria-label:GitHub %}</a> (and you!)
    </div>

  </div>



</footer>
