<nav class="main-nav">
  <div class="container-lg mx-auto clearfix">
    <div class="float-sm-right">
      <ul class="main-links d-flex flex-wrap flex-items-stretch border-left border-bottom border-sm-0 list-style-none">
        <li class="d-inline-block border-right">
          <a class="d-block p-3 p-sm-4" href="https://github.com/github/opensource.guide#readme">
            {{ site.data.locale[site.locale].nav.about }}
          </a>
        </li>
        <li class="d-inline-block border-right">
          <a class="d-block p-3 p-sm-4" href="https://github.com/github/opensource.guide/blob/gh-pages/CONTRIBUTING.md">
            {{ site.data.locale[site.locale].nav.contribute }}
          </a>
        </li>
      </ul>
    </div>
    {% if page.path != 'index.html' %}
    <div class="float-sm-left pl-3 breadcrumb">
      <p class="my-0 py-3 py-sm-4 text-gray">
        <a href="/" class="text-gray">{{ site.title }}</a>
      </p>
    </div>
    {% endif %}
  </div>
</nav>
