.menu-button {
  background: white;
  text-align: left;
}

.expand-open .menu-button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: $blue;
  color: $white;
  svg {
    fill: $white;
  }
}

.navigation {
  background: white;

  @include breakpoint(lg) {
    border: $border;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }

  ul {
    margin-bottom: 0;
    margin-left: 0;
  }

  ul li {
    border-bottom: $border;
    font-size: 18px;
    margin-bottom: 0;

    &:last-of-type {
      border-bottom: 0;
    }

  }

  ul li a {
    padding: $spacer3;

    &:hover {
      background: $gray-light;
      text-decoration: none;
    }

    @include breakpoint(lg) {
      padding: $spacer4;
    }
  }

  ul li.selected a {

    &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

  ul ul {
    display: none;
  }

  .selected ul {
    display: block;
    margin-bottom: $spacer3;
    margin-top: -$spacer3;

    @include breakpoint(lg) {
      margin-bottom: $spacer4;
    }

  }

  .selected ul li {
    border-bottom: 0;
    font-size: 16px;
  }

  .selected ul li a {
    padding: $spacer1 $spacer3;

    &:hover {
      background: transparent;
      text-decoration: underline;
    }

    @include breakpoint(lg) {
      padding: 0;
      padding: $spacer1 $spacer4;
    }
  }

  a.current {
    color: $black;
    &:hover {
      background: transparent;
      text-decoration: none;
    }
  }

}

#markdown-toc {
  border-top: $border;
  border-bottom: $border;
  padding: $spacer3 0;
  margin: $spacer4 0;

  @include breakpoint(md) {
    padding: $spacer4 0;
  }

  &:before {
    content: "Contents:";
    display: inline-block;
    font-size: 16px;
    margin-bottom: $spacer3;
  }

  li {
    list-style: none;
    margin-bottom: $spacer2;
  }

}
