.menu-button {
  background: white;
  text-align: left;
}

.expand-open .menu-button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: $blue;
  color: $white;
  svg {
    fill: $white;
  }
}

.navigation {
  background: white;
  border: $border;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  ul {
    margin-bottom: 0;
  }

  ul li {
    padding: $spacer3;
    border-bottom: $border;
    font-size: 18px;

    &:last-of-type {
      border-bottom: 0;
    }

    @include breakpoint(lg) {
      padding: $spacer4;
    }
  }

  ul ul {
    display: none;
  }

  .selected ul {
    display: block;
    margin-top: $spacer2;

    @include breakpoint(lg) {
      margin-top: $spacer3;
    }
  }

  .selected ul li {
    display: block;
    margin: 0;
    margin-bottom: $spacer2;
    border-bottom: 0;
    padding: 0;
    font-size: 16px;
  }

  a.current {
    color: $black;
  }

}

#markdown-toc {
  border-top: $border;
  border-bottom: $border;
  padding: $spacer3 0;

  @include breakpoint(md) {
    padding: $spacer4 0;
    margin: $spacer4 0;
  }

  &:before {
    content: "On this page:";
    display: inline-block;
    font-size: 16px;
    margin-bottom: $spacer3;
  }

  li {
    list-style: none;
    margin-bottom: $spacer2;
  }

}
