$nav-width: 330px;

.col-nav {
 @include breakpoint(lg) {
   position: fixed;
   width: $nav-width;
 }
}

.col-main {
  @include breakpoint(lg) {
    margin-left: ($nav-width + $spacer4);
  }
}

.col-main-wrapper {
  @include breakpoint(lg) {
    max-width: 700px;
    margin: 0 auto;
  }
}
