$nav-width: 300px;

.content-wrapper {
  max-width: 1700px;
}

.col-nav {
 @include breakpoint(lg) {
   position: absolute;
   width: $nav-width;
 }
 @media screen and (min-height: 730px) { //only fix navigation if screen is tall enough for it
    position: fixed;
 }
}

.col-main {
  @include breakpoint(lg) {
    margin-left: ($nav-width + $spacer5);
  }
}

.col-main-wrapper {
  @include breakpoint(lg) {
    max-width: 700px;
    margin: 0 auto;
  }
}
