$nav-width-offcanvas: 70%;
$nav-width: 300px;

.col-nav {
  width: $nav-width-offcanvas;
  height: 100%;
  position: absolute;
  top: 0;
  left: -$nav-width-offcanvas;
  border-right: $border;

 @include breakpoint(lg) {
   position: relative;
   width: 100%;
   top: auto;
   left: auto;
 }

}

.article {
  @include breakpoint(lg) {
    //margin-left: ($nav-width + $spacer5);
  }
}
