$nav-width-offcanvas: 70%;
$nav-width: 300px;

.site-wrapper { // for the off canvas nav
  position: relative;
  overflow: hidden;
  width: 100%;
  @include breakpoint(lg) {
    position: static;
  }
}

.site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @include breakpoint(lg) {
    position: static;
    transform: none;
    -webkit-transform: none;
  }

}

.site-canvas-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  &.is-shown {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    @include breakpoint(lg) {
      display: none;
    }
  }

}

.toggle-nav {
  .octicon-x {
    display: none;
  }
}

.toggle-nav-close {
  .octicon-x {
    display: block;
  }
  .octicon-list {
    display: none;
  }
}

.show-nav .site-canvas {
  -webkit-transform: translateX($nav-width-offcanvas);
  transform: translateX($nav-width-offcanvas);
  -webkit-transform: translate3d($nav-width-offcanvas, 0, 0);
  transform: translate3d($nav-width-offcanvas, 0, 0);

  @include breakpoint(lg) {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
