.anchorjs-link {
  transition: all .25s linear;
  color: $gray-light;

  &:hover {
    color: $gray;
    text-decoration: none;
  }
}

*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}
