.article-header {
  padding: 20px 0;

  nav {z-index: 1;}
  .cover-img {z-index: -1;}

  @include breakpoint(sm) {
    padding: 50px 0 0;
  }

  @include breakpoint(md) {
    padding: 100px 0 0;
  }
}

.article-header.metrics {
  @include breakpoint(sm) {
    .cover-img {
      max-width: 650px;
      margin-top: -35px;
    }
  }
}

.article-header.finding {
  @include breakpoint(sm) {
    .cover-img {
      width: 900px;
      margin-top: -50px;
      margin-left: -50px;
      margin-right: -50px;
    }
  }
}

.article-header.building {
  @include breakpoint(md) {
    .cover-img {
      margin-top: -20px;
    }
  }
}

.article-header.contribute {
  @include breakpoint(md) {
    .cover-img {
      margin-top: 50px;
      margin-bottom: -100px;
    }
  }
}

.article-header.beginners {
  @include breakpoint(md) {
    .cover-img {
      margin-top: 100px;
      margin-bottom: -50px;
      max-width: 720px;
    }
  }
}

.article-header.legal {
  .cover-img {
    margin-top: -20px;
    margin-bottom: -50px;
  }
  @include breakpoint(md) {
    .cover-img {
      margin-top: -20px;
      margin-bottom: -50px;
      max-width: 720px;
    }
  }
}

.article-header.best-practices {
  @include breakpoint(md) {
    .cover-img {
      max-width: 600px;
      margin-top: -30px;
      margin-bottom: -30px;
    }
  }
}

.guide-cover.best-practices {
  img {
    padding: $spacer-4 $spacer-6;
  }
}

.article-header.getting-paid {
  @include breakpoint(md) {
    .cover-img {
      max-width: 660px;
      margin-top: 60px;
      margin-bottom: -20px;
    }
  }
}

.guide-cover.getting-paid {
  img {
    padding: $spacer-4 60px;
  }
}
