.article-header {
  background: #eee; //to be replaced with illustration
  padding: 100px 0;
}

.container-lg {
  padding-left: $spacer-3;
  padding-right: $spacer-3;
}

.border-sm-0 {
  @include breakpoint(sm) { border-bottom: none !important;}
}
