a {
  transition: all 0.2s ease-in-out;
}

.article-header {
  padding: 50px 0;
  @include breakpoint(sm) {
    padding: 100px 0;
  }
}

.border-sm-0 {
  @include breakpoint(sm) { border-bottom: none !important;}
}

.bg-gray-light {
  background-color: #F3F3F3 !important;;
}

.guide-cover {
  &:hover {
    box-shadow: $box-shadow-large;
    text-decoration: none;
  }
}
