#search {
  display: none;
}

.searching {
  #content {
    display: none;
  }

  #search {
    display: block;
  }
}

.form-control-borderless {
  border: none;
  background: transparent;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}
