#search {
  display: none;
}

.searching {
  #content {
    display: none;
  }

  #search {
    display: block;
  }
}

#no-results-notice { display: none; }
.no-search-results {
  #search-results { display: none; }
  #no-results-notice { display: block; }
}

.form-control-borderless {
  border: none;
  background: transparent;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}
