/* Basics */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #444;
}

body {
  margin-bottom: 50px;
  padding: 0;
  background: #fff;
}

/* Columns & Layout */

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 900px;
}

article.full .content-body {
  width: 650px;
}

ol.toc {
  float: right;
  margin: 0;
  width: 200px;
}

@media (max-width: 900px) {
  .wrap {
    max-width: auto
  }

  article.full .content-body {
    width: auto;
  }

  ol.toc {
    float: none;
    width: auto;
    margin: -10px 0 20px;
  }
}

/* Main site styles */

a {
  color: #4183c4;
  text-decoration: none;
}

header {
  padding: 15px 0 10px 0;
  background: #fafafa;
  border-bottom: 1px solid #eee;
}
header img {
  opacity: 0.3;
}
header ul.links {
  margin: 2px 0 0;
  padding: 0;
  float: right;
}
header ul.links>li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
}
header ul.links>li a {
  color: #999;
}


article {
  line-height: 1.5;
}
article h1 {
  margin-bottom: 10px;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
  color: #000;
}
article ul.meta {
  margin: 0 0 30px 0;
  padding: 0;
  color: #999;
}
article ul.meta>li {
  margin: 0 20px 0 0;
  list-style-type: none;
  display: inline-block;
}
article ul.meta .octicon {
  margin-right: 3px;
  color: #ccc;
}

article img {
  margin: 15px 0;
  max-width: 100%;
  padding: 2px;
  background: #fafafa;
  border: 1px solid #eee;
}

.article-list>.snippet {
  padding: 15px 0 15px 100px;
  border-top: 1px solid #eee;
}
.article-list>.snippet:first-child {
  border-top: none;
}
.article-list a {
  color: #444;
}
.article-list h3 {
  margin: 16px 0 -8px 0;
  color: #000;
}
.article-list .icon {
  float: left;
  margin: 20px 0 0 -100px;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 100px;
  background: #6CC644;
  color: #fff;
}
.article-list .icon .mega-octicon {
  line-height: 80px;
}
.article-list .icon-forking {
  background: #8FB6DC;
}
.article-list .icon-project {
  background: #A64599;
}

/* Table of Contents */

ol.toc {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}
ol.toc>li {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  border-top: 1px solid #eee;
}
ol.toc>li:first-child {
  border-top: none;
}
ol.toc>li a strong {
  color: #444;
}
