/* Basics */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #444;
  background-color: #fff;
}

/* Guide listings */

.guide-listings {
  margin-top: 20px;
  width: 990px;
}

.guide-listing {
  width: 440px;
  float: left;
  margin-right: 50px;
  margin-bottom: 30px;
}

.guide-listing:nth-child(odd) {
  clear: both;
}

.guide-cover-guilloche {
  position: absolute;
  z-index: 1;
  width: 440px;
  height: 225px;
}

.guide-cover {
  height: 225px;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
}

.guide-cover a {
  color: #fff;
  display: block;
  width: 440px;
  height: 225px;
  padding: 30px 40px;
}

.icon-container {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.guide-cover .icon-container {
  margin: 0 auto;
}

.icon-container .mega-octicon {
  line-height: 68px;
}

.guide-cover-title {
  font-size: 32px;
  font-weight: normal;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  line-height: 1.3;
  margin-top: 20px;
}

.guide-summary {
  font-size: 16px;
  line-height: 1.3;
}

.guide-read-time {
  font-size: 14px;
  color: #888;
}

/* Columns & Layout */

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 960px;
}

article.full .content-body {
  width: 650px;
  padding-bottom: 30px;
  font-size: 18px;
}

article.full .content-body.full-width {
  width: 100%;
}

.toc-wrapper {
  float: right;
  width: 200px;
}
ol.toc {
  width: 200px;
  margin: 0;
}
ol.toc.sticky {
  position: fixed;
  top: 20px;
}

@media (max-width: 900px) {
  .wrap {
    max-width: auto
  }

  article.full .content-body {
    width: auto;
  }

  ol.toc {
    float: none;
    width: auto;
    margin: -10px 0 20px;
  }
}

.article-heading {
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 40px;
  position: relative;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.article-header-pattern {
  position: absolute;
  z-index: 1;
  display: none;
}

.article-heading .wrap {
  position: relative;
  z-index: 2;
  padding: 50px 0;
  color: #fff;
}

.article-heading .icon-container {
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-right: 20px;
  position: absolute;
  left: 15px;
}

.article-read-time {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 108px;
  clear: left;
}

.article-read-time .octicon {
  position: relative;
  top: -1px;
}

.markdown-example {
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.075);
}
.markdown-example .source {
  margin: 0;
  padding: 20px;
  background: #F8F8F8;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 28px;
}
.markdown-example .rendered {
  padding: 20px;
}

.markdown-body ul.example-nav {
  margin: 20px 0;
  padding: 0;
}
.example-nav li {
  margin: 0 15px 0 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.example-nav li a {
  font-size: 16px;
  font-weight: bold;
}
.example-nav li a.selected {
  padding: 2px 12px 4px 12px;
  color: #fff;
  background: #4183C4;
  border-radius: 20px;
}

/* Main site styles */

a {
  color: #4183c4;
  text-decoration: none;
}

header {
  padding: 35px 0 20px;
}
header img {
  opacity: 0.3;
}
header ul.links {
  margin: 2px 0 0;
  padding: 0;
  float: right;
}
header ul.links>li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
}
header ul.links>li a {
  color: #999;
}


article {
  line-height: 1.5;
}
article h1 {
  margin-bottom: 10px;
  margin-left: 105px;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: normal;
}
article h2 {
  color: #000;
}

article img {
  margin-top: 8px;
  max-width: 100%;
  padding: 2px;
  background: #fafafa;
  border: 1px solid #eee;
}
article img.emoji {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.3;
  color: #999;
  text-align: center;
}
footer .mega-octicon {
  color: #ddd;
}

/* Table of Contents */
ol.toc {
  padding: 0;
}
ol.toc>li {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
}
ol.toc>li a.active {
  font-weight: bold;
  color: #444;
}

.last-updated {
  font-size: 14px;
  color: #999;
  padding-top: 30px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.pd-embedded {
  margin: 20px 0;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .guide-listing {
    width: 400px;
    margin-right: 20px;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  article.full .content-body {
    width: 500px;
  }
  .guide-listings {
    width: 100%;
  }
  .guide-listing {
    width: 48%;
    margin-right: 4%;
  }
  .guide-listing:nth-child(2n) {
    margin-right: 0;
  }
  .guide-cover {
    width: 100%;
  }
  .guide-cover-title {
    font-size: 28px;
  }
  .guide-cover a {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  html, body {
    font-size: 15px;
  }
  .nav-github {
    display: none ! important;
  }
  .article-heading .wrap {
    padding: 30px 0;
  }
  article h1 {
    font-size: 34px;
    margin-left: 96px;
  }
  .article-read-time {
    margin-left: 96px;
  }
  article.full .content-body {
    width: 100%;
  }
  .toc-wrapper {
    display: none;
  }

  .landing-page.wrap,
  .guide-listings {
    width: 100%;
  }
  .guide-cover a {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .guide-cover-title {
    font-size: 26px;
  }
  .guide-listing {
    display: block;
    margin-right: 0;
    float: none;
    width: 100%;
  }

  footer {
    font-size: 12px;
  }
}
