// Border utilities
.border        { border: $border !important; }
.border-top    { border-top: $border !important; }
.border-right  { border-right: $border !important; }
.border-bottom { border-bottom: $border !important; }
.border-left   { border-left: $border !important; }

.border-y {
  border-top: $border !important;
  border-bottom: $border !important;
}

// Border colors
.border-blue       { border-color: $blue !important; }
.border-gray-light { border-color: $gray-light !important; }
.border-gray-dark  { border-color: $gray-dark !important; }

// Without borders
.border-0        { border: 0 !important; }
.border-top-0    { border-top: 0 !important; }
.border-right-0  { border-right: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0   { border-left: 0 !important; }

// Rounded corners
.rounded-0 { border-radius: 0 !important; }
.rounded-1 { border-radius: $border-radius !important; }
.rounded-2 { border-radius: $border-radius * 2 !important; }

.rounded-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.rounded-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}
