.slow-animate-in {
  animation-name: slowAnimateIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes slowAnimateIn {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
