@mixin flash ($color: $blue, $color-background: $blue-light) {
  background-color: $color-background;
  border: 1px solid $color;
  .flash-heading {
    color: $color;
  }
  [class*="icon-"] { // this will work with the icon font or if we're using SVG (as in help)
    fill: $color;
  }
}

.flash {
  @include flash;
  border-radius: $border-radius;
  padding: $spacer3;

  p:last-child {
    margin-bottom: 0;
  }

  [class*="icon-"] {
    width: 18px;
    height: 18px;
  }

}

.flash-danger,
.flash-error {
  @include flash($orange, $orange-light);
}
