// Flexible images
.img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
}

// Vertically Centered

.vertically-centered {
  display: table;
  table-layout: fixed;

  &.columns-reverse {
    direction: rtl;
  }

  [class*="col-"] {
    text-align: left;
    direction: ltr;
  }

  [class*="col-sm"] {
    @include breakpoint(sm) {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
  }

  [class*="col-md"] {
    @include breakpoint(md) {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
  }
}

// Pre-built Layouts

// If you are against using grid classes, you can create a layout in CSS.
// The below class would be marked up like this:
// <div class="container">
//   <div class="layout-aside">
//     <div class="main-column">
//       This is the content in the main column.
//     </div>
//     <aside class="aside-column">
//       This is the content in the aside
//     </aside>
//   </div>
// </div>
