.site-header {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #fff;
  border-bottom: $border;

  @media (min-width: 700px) {
    text-align: left;
  }
}

.site-header-logo {
  font-size: 22px;

  .mega-octicon {
    padding-right: 5px;
  }

  @media (min-width: 700px) {
    float: left;
  }

  .logo {
    width: auto;
    height: 18px;
    overflow: visible !important; // overrides for descender characters to not get cut off by SVG frame.

    @include breakpoint(sm) {
      height: 22px;
      opacity: 0.9;
    }

    &:hover {
      opacity: 1;
    }

    path,
    ellipse {
      fill: $gray-mid;
    }
  }
}

.site-header-nav {
  margin-top: 20px;

  @media (min-width: 700px) {
    float: right;
    margin-top: 7px;
  }
}

.site-header-nav-item {
  display: inline-block;
  color: #555;

  &:hover {
    color: #333;
    text-decoration: none;
  }

  &.active {
    color: #333;
  }

  + .site-header-nav-item {
    margin-left: 20px;
  }
}

// Side Menu
.menu {
  margin-top: $spacer3;
  margin-bottom: $spacer3;
  list-style: none;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.menu-item {
  position: relative;
  display: block;
  padding: 12px 15px;
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &:hover {
    text-decoration: none;
    background-color: $gray-light;
  }

  &.selected {
    font-weight: 500;
    color: $black;
    cursor: default;
    background-color: $white;
  }
}
