.data-table {
  width: 100%;
  margin-top: $spacer3;
  border-collapse: initial;
  border: $border;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  td,
  th {
    padding: 0.5em;
    border-right: $border;
    border-bottom: $border;

    &:last-child {
      border-right: 0;
    }
  }


  th {
    font-size: 14px;
    font-weight: 400;
    color: $gray-mid;
    text-align: left;
  }

  tbody {
    th {
      width: 20%;
    }
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}
