// Overrides default type.scss

//
// Body
//

body {
  font-family: $body-font;
  font-size: #{$body-font-size};
  line-height: $body-line-height;
  color: $body-color;
}

//
// Headings
//

h1,
h2,
h3,
h4,
h5,
.text-alpha,
.text-beta,
.text-gamma,
.text-delta {
  margin-top: 0;
  margin-bottom: 0.45em;
  color: $heading-color;
  -webkit-font-smoothing: antialiased;
}

h1,
.text-alpha {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;

  @include breakpoint(md) { font-size: 48px; }
  @include breakpoint(lg) { font-size: 54px; }
}

h2,
.text-beta {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;

  @include breakpoint(md) {
    font-size: 30px;
  }
  @include breakpoint(lg) { font-size: 32px; }
}

p + h2 { // for better vertical rhythm when reading 
  margin-top: 1em;
}

h3,
.text-gamma {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;

  @include breakpoint(md) { font-size: 20px; }
  @include breakpoint(lg) { font-size: 22px; }
}

h4,
.text-delta {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

//
// Paragraphs big and small sizes
//

.lead {
  //margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: $body-color;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(md) { font-size: 24px; }
  @include breakpoint(lg) { font-size: 26px; }
}

.checklist {
  list-style: none;

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -18px;
      width: 12px;
      height: 12px;
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.29 15"><path d="M19.29,2.37L6.43,15,0,8.68,2.41,6.32l4,3.95L16.88,0Z" fill="#{ $gray-mid }"/></svg>');
    }
  }
}

.checklist-theme {
  li {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.29 15"><path d="M19.29,2.37L6.43,15,0,8.68,2.41,6.32l4,3.95L16.88,0Z" fill="#{ $theme-color }"/></svg>');
    }
  }
}

ul.list-inline {
  padding-left: 0;
  margin-left: 0;
  list-style: none;

  li {
    display: inline;
  }
}

ul.list-unstyled {
  padding-left: 0;
  margin-left: 0;

  li {
    list-style: none;
  }
}

//
// Custom hr
// Maybe make this a class? A little difficult to deal with markdown then

hr {
  margin: $spacer3 0;
  border-top: 0;
  border-right: 0;
  border-bottom: $border;
  border-left: 0;

  @include breakpoint(md) {
    margin: $spacer4 0;
  }
}

blockquote {
  padding-left: $spacer3;
  font-family: $alt-font;
  font-size: 17px;
  border-left: 4px solid $border-color;

  @include breakpoint(md) {
    font-size: 18px;
    border-left: 6px solid $border-color;
    padding-left: $spacer4;
    padding-top: $spacer3;
    padding-bottom: $spacer1;
  }
}

.blockquote-alt {

  @include breakpoint(md) {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;

    &::before {
      display: block;
      width: 20px;
      height: 25px;
      margin-bottom: -28px;
      margin-left: -25px;
      content: "";
      background: url("images/chevron-right.svg") no-repeat;
      background-size: 60px 60px;
    }
  }

}

.blockquote-credit {
  display: block;
  margin-top: $spacer3;
  font-family: $body-font;
  font-style: normal;

  &::before {
    content: "— ";
  }
}
