---
layout: default
---
<div class="">

    <nav class="">
      <div class="nav d-lg-block navigation">
        {% include contents.html %}
      </div>
    </nav>

    <div class="main-col">

      <article>

        <div class="container-narrow pt-4 pt-lg-8">

          <h1 class="mb-3 mb-lg-4 pt-lg-8">{{ page.title }}</h1>

          {{ content }}

          <div class="border mb-0 my-4 my-md-7 p-3 p-md-4">
            <div class="clearfix">
              <div class="float-left">
                {% octicon pencil height:22 class:"mr-3 fill-gray" aria-label:hi %}
              </div>
              <div class="overflow-hidden">
                <span class="d-block d-md-inline">This content is open source.</span>
                <a data-proofer-ignore href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}" class="d-block d-md-inline">
                  Please help improve it.
                </a>
              </div>
            </div>
          </div>

          {% assign previous = site.pages | where: "next", page.path | first %}
          <div class="clearfix py-3 py-md-6">
            <div class="col-md-6 mb-3">
              {% if previous == null %}
                <span class="d-block">&nbsp;</span>
              {% endif %}
              {% if previous %}
                <p class="mb-1">Previous</p>
                <a href="{{ previous.url | prepend: site.baseurl }}" class="text-gamma link-blue">{{ previous.title }}</a>
              {% endif %}
            </div>
            <div class="col-md-6 text-md-right">
              {% if page.next %}
                {% assign next = site.pages | where: "path", page.next | first %}
                <p class="mb-1">Next</p>
                <a href="{{ next.url | prepend: site.baseurl }}" class="text-gamma link-blue">{{ next.title }}</a>
              {% endif %}
            </div>
          </div>
        </div>

      </article>

      <footer class="bg-taupe-dark">
        <div class="container-narrow">
          <div class="pl-lg-4">
            {% include footer.html %}
          </div>
        </div>
      </footer>

    </div>

</div>
