---
layout: default
---

<nav>
  {% include contents.html %}
</nav>

<article>
  <header class="border-bottom mb-3 mb-sm-5">
    <h1 class="mb-2">{{ page.title }}</h1>
    <div class="mb-4">
      <a data-proofer-ignore href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}" class="link-muted">
        Suggest edits to this page
      </a>
    </div>
  </header>

  {{ content }}

  <p>
    {% assign previous = site.pages | where: "next", page.path | first %}
    {% if previous %}
      Previous: <a href="{{ previous.url | prepend: site.baseurl }}">{{ previous.title }}</a> |
    {% endif %}

    {% if page.next %}
      {% assign next = site.pages | where: "path", page.next | first %}
      Next: <a href="{{ next.url | prepend: site.baseurl }}">{{ next.title }}</a>
    {% endif %}
  </p>
</article>
