---
layout: default
---

<nav class="main-nav">
  <div class="container-lg edged mx-auto clearfix">
    <div class="float-sm-right">
      <ul class="main-links d-flex flex-wrap flex-items-stretch border-left border-bottom border-sm-0 list-style-none">
        <li class="d-inline-block border-right">
          <a class="d-block p-3 p-sm-4" href="https://github.com/github/opensource.guide#readme">About</a>
        </li>
        <li class="d-inline-block border-right">
          <a class="d-block p-3 p-sm-4" href="https://github.com/github/opensource.guide/blob/gh-pages/CONTRIBUTING.md">Contribute</a>
        </li>
      </ul>
    </div>
    <div class="float-sm-left pl-3 breadcrumb">
      <p class="my-0 py-3 py-sm-4 text-gray">
        <a href="/" class="text-gray">Open Source Guides</a>
      </p>
    </div>
  </div>
</nav>

<header class="bg-gray-light">
  <div class="container-lg mx-auto px-3">
    <h1 class="alt-h1 lh-condensed text-center my-6 py-md-6">{{ page.title }}</h1>
    <p class="lead text-center text-gray col-md-8 mx-auto mb-4 position-relative">{{ page.description }}</p>
  </div>
</header>

<article class="pb-md-6">
  <div class="article-body mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">
    {{ content }}
  </div>
</article>

{% include footer.html %}
