---
layout: default
---

<article class="full">
  <div class="article-heading js-article-heading js-geopattern" style="background-image: {% uri_geo_pattern text=page.title generator=page.pattern color=page.color base_color="#8c282c" %}">
    <div class="wrap">
      {% include breadcrumb.html page=page %}
      <h1>{{ page.title }}</h1>
      {% if page.read_time %}
      <span class="article-read-time article-meta">
        <span class="octicon octicon-clock"></span> {{ page.read_time }} read
      </span>
      {% endif %}
      {% if page.pdf_download %}
      <a class="article-pdf article-meta" href="/pdfs/{{page.pdf_download}}" onClick="_gaq.push(['_trackEvent', 'PDF Download', 'Click', '{{ page.pdf_download }}']);">
        <span class="octicon octicon-cloud-download"></span> Download PDF version
      </a>
      {% endif %}
    </div>
  </div>


  <div class="wrap">
    {% if page.full_width != true %}
    <div class="toc-wrapper">
      <ol class="toc js-toc"></ol>
    </div>
    {% endif %}

    <div class="markdown-body content-body {% if page.full_width %}full-width{% endif %}">
      {{ content }}

      <p class="last-updated">Last updated {{ page.updated_at }}</p>

      {% if page.credits %}
        <div id="credits">
          <p>This article is based on open source content:</p>
          <ul>
            {% for source in page.credits %}
              <li>
                <a href="{{ source.url }}">{{ source.title }}</a>
                by {{ source.attribution }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    {% if page.related %}
    <h2>Read More</h2>
    <section class="guide-listings cf">
      {% for path in page.related %}
        {% for article in site.content %}
          {% if article.path contains path %}
            {% include post.html %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </section>
    {% endif %}

  </div>
</article>
