<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GitHub Guides</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/components/gridism/gridism.css">
  <link rel="stylesheet" href="/components/primer/markdown.css">
  <link rel="stylesheet" href="/components/primer/octicons.css">
  <link href="/styles/main.css" rel="stylesheet" />
</head>
<body>

  <header>
    <div class="wrap">
      <ul class="links">
        <li><a href="https://github.com/support">Contact Support</a></li>
        <li><a href="https://github.com">Return to GitHub</a>
      </ul>

      <a href ="/"><img src="/images/logo@2x.png" width="136" height="25" /></a>
    </div>
  </header>

  <div class="wrap">
    {{ content }}
  </div>

  {% include analytics.html %}

</body>
</html>
