<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GitHub Guides</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ site.url}}/components/gridism/gridism.css">
  <link href="{{ site.url}}/styles/main.css" rel="stylesheet" />
</head>
<body class="wrap">

  <a name="top"></a>

  <div class="top-bar">&nbsp;</div>

  {{ content }}

  <footer>
    <div class="grid">
      <div class="unit half align-right center-on-mobiles">
        <ul class="footer-nav">
          <li><a href="">Home</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Training</a></li>
          <li><a href="">Teaching</a></li>
        </ul>
      </div>
      <div class="unit half align-left center-on-mobiles">
        <p>© GitHub, Inc. All rights reserved.</p>
      </div>
      <a href="https://github.com" class="invertocat">
        <img src="{{ site.url}}/images/invertocat.png" width="24" height="24">
      </a>
    </div>
  </footer>

  {% include analytics.html %}

</body>
</html>
