/* Basics */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #efefef;
  color: #444;
}

header, section, footer {
  float: left;
  clear: both;
  width: 100%;
  position: relative;
}

/* Header */

.site-logo {
  display: inline-block;
}

.site-logo a {
  text-indent: -999em;
  overflow: hidden;
  float: left;
  width: 180px;
  height: 35px;
  background-size: 180px 35px;
  background-image: url("../images/logo@2x.png");
}

.top-bar {
  background: #0DAD33;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.2);
  display: block;
  height: 6px;
}

/* Sections */

.page {
  max-width: 978px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  padding: 20px 0;
}

@media (max-width: 978px){
  .page {
    border-radius: 0;
  }
}

/* Footer */

footer {
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

footer .invertocat {
  opacity: .2;
}

.footer-nav {
  padding: 0;
}

.footer-nav li {
  list-item-type: none;
  display: inline-block;
  margin: 0 5px;
}

@media (max-width: 568px){
  footer .grid {
    padding: 20px inherit;
  }
  .footer-nav, footer p {
    margin: 0;
  }
  footer .invertocat {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 8px;
  }
}

@media (min-width: 569px){
  footer .grid .unit {
    padding: 20px 30px;
  }

  footer .invertocat {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    margin-top: 28px;
  }

  .footer-nav li {
    list-item-type: none;
    display: inline-block;
    margin: 0 0 0 10px;
  }
}

/* Buttons */

.button {
  border-radius: 5px;
  padding: .5em 1em;
  line-height: 24px;
  display: inline-block;
  background: #0acef2;
  background: -webkit-linear-gradient(#0DCC33, #0D9933 75%, #0DBB33);
  background: -moz-linear-gradient(#0DCC33, #0D9933 75%, #0DBB33);
  background: linear-gradient(#0DCC33, #0D9933 75%, #0DBB33);
  border: 1px solid #0D7733;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 0 rgba(255,255,255,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.button:hover {
  color: #fff;
  background: -webkit-linear-gradient(#0DCC33, #0D8833 75%, #0DBB33);
  background: -moz-linear-gradient(#0DCC33, #0D8833 75%, #0DBB33);
  background: linear-gradient(#0DCC33, #0D7733 75%, #0DBB33);
}

.button:active {
  position: relative;
  top: 1px;
}
/* HTML */

a {
  color: #4183c4;
  text-decoration: none;
}

/* Landing page */

.overview .page {
  margin-top: 30px;
}

.lead p {
  font-size: 1.2em;
}

.lead p strong {
  color: #000;
}

.lead {
  padding-bottom: 20px;
}

.overview-graphic {
  margin-top: -60px;
  text-align: center;
  width: 100%;
  height: 120px;
  position: relative;
}

.overview-graphic .terminal {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  padding: 10px 15px;
  background: #333;
  background-image: radial-gradient(farthest-corner at 50% 0%, #555, #333);
  color: #0c0;
  border-radius: 8px;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  width: 160px;
  height: 120px;
  box-shadow: 0 3px 10px rgba(0,0,0,.3),
    inset 0 2px 0 rgba(255,255,255,.3),
    inset 0 -2px 0 rgba(0,0,0,.3);
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}

.terminal .cursor {
  display: inline-block;
  background: #0c0;
  width: 10px;
  height: .85em;
  margin-left: 2px;
  margin-bottom: -2px;
  box-shadow: 0 -1px 0 rgba(0,0,0,.3);
  opacity: 1;
  -webkit-animation: blink 1s linear 0s infinite;
  -moz-animation: blink 1s linear 0s infinite;
  -ms-animation: blink 1s linear 0s infinite;
}

@-webkit-keyframes blink {
  0%   { opacity: 0 }
  50%  { opacity: 1 }
  100% { opacity: 0 }
}

@-moz-keyframes blink {
  0%   { opacity: 0 }
  50%  { opacity: 1 }
  100% { opacity: 0 }
}

@-ms-keyframes blink {
  0%   { opacity: 0 }
  50%  { opacity: 1 }
  100% { opacity: 0 }
}

.collabocats, .collabocats-main {
  display: inline-block;
  width: 259px;
  height: 115px;
}

.collabocats-chat {
  position: absolute;
}

.chat-left {
  width: 51px;
  height: 40px;
  top: 0px;
  left: 95px;
  -webkit-animation: left-bubble-fade 3s ease-out 0s infinite;
  -moz-animation: left-bubble-fade 3s ease-out 0s infinite;
  -ms-animation: left-bubble-fade 3s ease-out 0s infinite;
}

@-webkit-keyframes left-bubble-fade {
  0%   { opacity: 0; top: 25px; left: 85px; }
  5%   { opacity: 1; top: 20px; left: 90px; }
  45%  { opacity: 1; top: 3px; left: 100px; }
  50%  { opacity: 0; top: 0px; }
  100% { opacity: 0; top: 25px; }
}

@-moz-keyframes left-bubble-fade {
  0%   { opacity: 0; top: 25px; left: 85px; }
  5%   { opacity: 1; top: 20px; left: 90px; }
  45%  { opacity: 1; top: 3px; left: 100px; }
  50%  { opacity: 0; top: 0px; }
  100% { opacity: 0; top: 25px; }
}

@-ms-keyframes left-bubble-fade {
  0%   { opacity: 0; top: 25px; left: 85px; }
  5%   { opacity: 1; top: 20px; left: 90px; }
  45%  { opacity: 1; top: 3px; left: 100px; }
  50%  { opacity: 0; top: 0px; }
  100% { opacity: 0; top: 25px; }
}

.chat-right {
  width: 47px;
  height: 38px;
  top: 30px;
  left: 100px;
  -webkit-animation: right-bubble-fade 3s ease-out 0s infinite;
  -moz-animation: right-bubble-fade 3s ease-out 0s infinite;
  -ms-animation: right-bubble-fade 3s ease-out 0s infinite;
}

@-webkit-keyframes right-bubble-fade {
  0%   { opacity: 0; top: 25px; }
  40%  { opacity: 0; top: 25px; left: 110px; }
  50%   { opacity: 1; top: 20px; left: 105px; }
  80%  { opacity: 1; top: 8px; left: 100px; }
  100% { opacity: 0; top: 5px; }
}

@-moz-keyframes right-bubble-fade {
  0%   { opacity: 0; top: 25px; }
  40%  { opacity: 0; top: 25px; left: 110px; }
  50%   { opacity: 1; top: 20px; left: 105px; }
  80%  { opacity: 1; top: 8px; left: 100px; }
  100% { opacity: 0; top: 5px; }
}

@-ms-keyframes right-bubble-fade {
  0%   { opacity: 0; top: 25px; }
  40%  { opacity: 0; top: 25px; left: 110px; }
  50%   { opacity: 1; top: 20px; left: 105px; }
  80%  { opacity: 1; top: 8px; left: 100px; }
  100% { opacity: 0; top: 5px; }
}

.preview-graphic {
  display: inline-block;
  width: 100%;
  height: 150px;
  background: #eee;
}
