name: GitHub Actions CI
on:
  push:
    branches: master
  pull_request: []
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v2.4.0

    - name: Set up Ruby
      uses: actions/setup-ruby@v1.1.3

    - name: Set up Node
      uses: actions/setup-node@v2.5.1

    - name: Restore bundler cache
      uses: actions/cache@v2.1.7
      with:
        path: vendor/gems
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gems-

    - name: Bootstrap
      run: script/bootstrap

    - name: Tests
      run: script/test
